.cross {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

.cross::before,
.cross::after {
	content: '';
	position: absolute;
	top: 50%;
	display: block;
	width: 100%;
	height: 2px;
	background: #121216;
}

.cross::before {
	transform: rotate(45deg);
}

.cross::after {
	transform: rotate(-45deg);
}

.zero {
	border: 2px solid #121216;
	border-radius: 50%;
	width: 70%;
	height: 70%;

}