.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.board {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	min-width: 300px;
	width: 300px;
	min-height: 300px;
	background: initial;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(#3d3d3d, .5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 30px;
}

.button {
	width: 300px;
	padding: 20px 0;
	border-radius: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
	&:hover {
		background: #313131;
	}
	&:active {
		background: #393939;
	}
}

.display {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	padding: 20px 0;
	border-radius: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.square {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 1px;
	width: calc(300px / 3 - 2px);
	height: calc(300px / 3 - 2px);
	background: #373737;
	box-sizing: border-box;
	border-radius: 5px;

	&:hover {
		background: #3b3b3b;
	}
	&:active {
		background: #4b4b4b;
	}
}
